{% extends 'base.html' %}

{% block main-wrapper %}
<div id="main-wrapper">
	<div id="main">
		<div id="main-inner">

			<!-- MAP -->
			<div class="block-content no-padding">
				<div class="block-content-inner">
					<div class="map-wrapper">
						<div id="map" data-style="1"></div>
						<!-- /#map -->

						<div class="container">
							<div class="row">
								<div
									class="col-sm-4 col-sm-offset-8 col-md-3 col-md-offset-10 map-navigation-positioning">
									<div class="map-navigation-wrapper">
										<div class="map-navigation">
											<div>
												<div class="form-group col-sm-12">
													<!-- <label>Country</label> -->

													<div class="select-wrapper">
														<select id="select-country"
															class="form-control house-type">
															<option value="">Chọn loại nhà muốn thuê</option> 
															{% for item in HouseTypes %}
															<option value="{{item.0}}">{{item.1}}</option> 
															{% endfor %}
														</select>
													</div>
													<!-- /.select-wrapper -->
												</div>
												<!-- /.form-group -->

												<div class="form-group col-sm-12">
													<!-- <label>Location</label> -->

													<div class="select-wrapper">
														<select id="select-location" class="form-control district">
															<option value="">Chọn quận/huyện</option>
														</select>
													</div>
													<!-- /.select-wrapper -->
												</div>
												<!-- /.form-group -->

												<div class="form-group col-sm-12">
													<!-- <label>Sublocation</label> -->

													<div class="select-wrapper">
														<select id="select-sublocation" class="form-control ward">
															<option value="">Chọn phường</option>
														</select>
													</div>
													<!-- /.select-wrapper -->
												</div>
												<!-- /.form-group -->

												<div class="form-group col-sm-12">
													<!-- <label>Property Type</label> -->

													<input type="text" class="form-control address"
														placeholder="Nhập địa điểm">
												</div>
												<!-- /.form-group -->

												<div class="form-group col-sm-12">
													<!-- <label>Sublocation</label> -->

													<div class="select-wrapper">
														<select id="select-sublocation"
															class="form-control radius">
															<option value="">Chọn bán kính</option>
															<option value="">1km</option>
															<option value="">2km</option>
															<option value="">3km</option>
															<option value="">5km</option>
															<option value="">10km</option>
															<option value="">20km</option>
															<option value="">30km</option>
															<option value="">50km</option>
														</select>
													</div>
													<!-- /.select-wrapper -->
												</div>
												<!-- /.form-group -->

												<div class="form-group col-sm-6">
													<!-- <label>Giá tối thiểu</label> -->
													<input type="text" class="form-control min-price"
														placeholder="Giá tối thiểu">
												</div>
												<!-- /.form-group -->

												<div class="form-group col-sm-6">
													<!-- <label>Price To</label> -->
													<input type="text" class="form-control max-price"
														placeholder="Giá tối đa">
												</div>
												<!-- /.form-group -->

												<div class="form-group col-sm-12">
													<button
														class="btn btn-primary btn-inversed btn-block house-search">
														Tìm kiếm <em class='rightImage'></em>
													</button>
												</div>
												<!-- /.form-group -->
											</div>
										</div>
										<!-- /.map-navigation -->
									</div>
									<!-- /.map-navigation-wrapper -->
								</div>
								<!-- /.col-sm-3 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.container -->

					</div>
					<!-- /.map-wrapper -->
				</div>
				<!-- /.block-content-inner -->
			</div>
			<!-- /.block-content -->
			<div class="container">
				<!-- SLOGAN -->
				<div
					class="block-content background-primary background-map block-content-small-padding fullwidth">
					<div class="block-content-inner">
						<h2 class="no-margin center caps">TÌM NHÀ TRỌ TRONG 5 PHÚT</h2>
					</div>
					<!-- /.block-content-iner -->
				</div>
				<!-- /.block-content-->
				<!-- ISOTOPE GRID -->
				<div class="block-content block-content-small-padding">
					<div class="block-content-inner">
						<h2 class="center">NHÀ ĐANG CHO THUÊ</h2>

						<ul class="properties-filter mh-properties-filter">
							<li><strong>Tìm theo: </strong></li>
							<li><select class="house_type">
									<option>Loại nhà</option> {% for item in HouseTypes %}
									<option value="{{item.0}}">{{item.1}}</option> {% endfor %}
							</select></li>
							<li><select class="district"><option>Quận/Huyện</option></select></li>
							<li><select class="ward"><option>Phường/Xã</option></select></li>
							<li><select><option>Mức giá</option></select></li>
							<li><select><option>Địa điểm</option></select></li>
							<li><select><option>Bán kính</option></select></li>
							<li><button
									class="btn btn-primary btn-inversed btn-block house-search">
									Tìm kiếm <em class='rightImage'></em>
								</button></li>
						</ul>
						<ul class="properties-filter mh-properties-filter">
							<li><strong>Sắp xếp theo: </strong></li>
							<li class="selected"><a href="#" data-filter="*"><span>Mới
										nhất</span></a></li>
							<li><a href="#" data-filter="*"><span>Gần nhất</span></a></li>
							<li><a href="#" data-filter=".property-featured"><span>Giá
										thấp nhất</span></a></li>
							<li><a href="#" data-filter=".property-rent"><span>Giá
										cao nhất</span></a></li>
							<li><a href="#" data-filter=".property-sale"><span>Diện
										tích nhỏ nhất</span></a></li>
							<li><a href="#" data-filter=".property-sale"><span>Diện
										tích lớn nhất</span></a></li>
						</ul>
						<!-- /.property-filter -->

						<div class="properties-items">
							<div class="row">
								<div class="property-item property-featured col-sm-6 col-md-3">
									<div class="property-box">
										<div class="property-box-inner">
											<h3 class="property-box-title">
												<a href="/detail/">Emerson Street</a>
											</h3>
											<h4 class="property-box-subtitle">
												<a href="/detail/">Kingman Park</a>
											</h4>

											<div class="property-box-label property-box-label-primary">Rent</div>
											<!-- /.property-box-label -->

											<div class="property-box-picture">
												<div class="property-box-price">$ 430 000</div>
												<!-- /.property-box-price -->
												<div class="property-box-picture-inner">
													<a href="/detail/" class="property-box-picture-target">
														<img src="/static/assets/img/tmp/properties/medium/8.jpg"
														alt="">
													</a>
													<!-- /.property-box-picture-target -->
												</div>
												<!-- /.property-picture-inner -->
											</div>
											<!-- /.property-picture -->

											<div class="property-box-meta">
												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>3</strong> <span>Baths</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>3</strong> <span>Beds</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>213</strong> <span>Area</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>3</strong> <span>Garages</span>
												</div>
												<!-- /.col-sm-3 -->
											</div>
											<!-- /.property-box-meta -->
										</div>
										<!-- /.property-box-inner -->
									</div>
									<!-- /.property-box -->
								</div>
								<!-- /.property-item -->

								<div class="property-item property-rent col-sm-6 col-md-3">
									<div class="property-box">
										<div class="property-box-inner">
											<h3 class="property-box-title">
												<a href="/detail/">West Side</a>
											</h3>
											<h4 class="property-box-subtitle">
												<a href="/detail/">Brooklyn</a>
											</h4>

											<div class="property-box-picture">
												<div class="property-box-price">$ 1200 / month</div>
												<!-- /.property-box-price -->
												<div class="property-box-picture-inner">
													<a href="/detail/" class="property-box-picture-target">
														<img src="/static/assets/img/tmp/properties/medium/11.jpg"
														alt="">
													</a>
													<!-- /.property-box-picture-target -->
												</div>
												<!-- /.property-picture-inner -->
											</div>
											<!-- /.property-picture -->

											<div class="property-box-meta">
												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>2</strong> <span>Baths</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>3</strong> <span>Beds</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>292</strong> <span>Area</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>1</strong> <span>Garages</span>
												</div>
												<!-- /.col-sm-3 -->
											</div>
											<!-- /.property-box-meta -->
										</div>
										<!-- /.property-box-inner -->
									</div>
									<!-- /.property-box -->
								</div>
								<!-- /.property-item -->

								<div class="property-item property-sale col-sm-6 col-md-3">
									<div class="property-box">
										<div class="property-box-inner">
											<h3 class="property-box-title">
												<a href="/detail/">Culver Blvd</a>
											</h3>
											<h4 class="property-box-subtitle">
												<a href="/detail/">Civic Betterment</a>
											</h4>

											<div class="property-box-label">Sale</div>
											<!-- /.property-box-label -->

											<div class="property-box-picture">
												<div class="property-box-price">$ 299 000</div>
												<!-- /.property-box-price -->
												<div class="property-box-picture-inner">
													<a href="/detail/" class="property-box-picture-target">
														<img src="/static/assets/img/tmp/properties/medium/7.jpg"
														alt="">
													</a>
													<!-- /.property-box-picture-target -->
												</div>
												<!-- /.property-picture-inner -->
											</div>
											<!-- /.property-picture -->

											<div class="property-box-meta">
												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>2</strong> <span>Baths</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>3</strong> <span>Beds</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>222</strong> <span>Area</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>3</strong> <span>Garages</span>
												</div>
												<!-- /.col-sm-3 -->
											</div>
											<!-- /.property-box-meta -->
										</div>
										<!-- /.property-box-inner -->
									</div>
									<!-- /.property-box -->
								</div>
								<!-- /.property-item -->

								<div class="property-item property-rent col-sm-6 col-md-3">
									<div class="property-box">
										<div class="property-box-inner">
											<h3 class="property-box-title">
												<a href="/detail/">Jeopardy Ln</a>
											</h3>
											<h4 class="property-box-subtitle">
												<a href="/detail/">Silicon Valley, SA</a>
											</h4>

											<div class="property-box-picture">
												<div class="property-box-price">$ 299 000</div>
												<!-- /.property-box-price -->
												<div class="property-box-picture-inner">
													<a href="/detail/" class="property-box-picture-target">
														<img src="/static/assets/img/tmp/properties/medium/4.jpg"
														alt="">
													</a>
													<!-- /.property-box-picture-target -->
												</div>
												<!-- /.property-picture-inner -->
											</div>
											<!-- /.property-picture -->

											<div class="property-box-meta">
												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>3</strong> <span>Baths</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>3</strong> <span>Beds</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>233</strong> <span>Area</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>2</strong> <span>Garages</span>
												</div>
												<!-- /.col-sm-3 -->
											</div>
											<!-- /.property-box-meta -->
										</div>
										<!-- /.property-box-inner -->
									</div>
									<!-- /.property-box -->
								</div>
								<!-- /.property-item -->
							</div>
							<!-- /.row -->

							<div class="row">
								<div class="property-item property-featured col-sm-6 col-md-3">
									<div class="property-box">
										<div class="property-box-inner">
											<h3 class="property-box-title">
												<a href="/detail/">Bedford Ave</a>
											</h3>
											<h4 class="property-box-subtitle">
												<a href="/detail/">Manhattan</a>
											</h4>

											<div class="property-box-picture">
												<div class="property-box-price">$ 145 000</div>
												<!-- /.property-box-price -->
												<div class="property-box-picture-inner">
													<a href="/detail/" class="property-box-picture-target">
														<img src="/static/assets/img/tmp/properties/medium/12.jpg"
														alt="">
													</a>
													<!-- /.property-box-picture-target -->
												</div>
												<!-- /.property-picture-inner -->
											</div>
											<!-- /.property-picture -->

											<div class="property-box-meta">
												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>1</strong> <span>Baths</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>3</strong> <span>Beds</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>203</strong> <span>Area</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>3</strong> <span>Garages</span>
												</div>
												<!-- /.col-sm-3 -->
											</div>
											<!-- /.property-box-meta -->
										</div>
										<!-- /.property-box-inner -->
									</div>
									<!-- /.property-box -->
								</div>
								<!-- /.property-item -->

								<div class="property-item property-sale col-sm-6 col-md-3">
									<div class="property-box">
										<div class="property-box-inner">
											<h3 class="property-box-title">
												<a href="/detail/">South St</a>
											</h3>
											<h4 class="property-box-subtitle">
												<a href="/detail/">Palo Alto, SA</a>
											</h4>

											<div class="property-box-label property-box-label-primary">Rent</div>
											<!-- /.property-box-label -->

											<div class="property-box-picture">
												<div class="property-box-price">$ 145 000</div>
												<!-- /.property-box-price -->
												<div class="property-box-picture-inner">
													<a href="/detail/" class="property-box-picture-target">
														<img src="/static/assets/img/tmp/properties/medium/10.jpg"
														alt="">
													</a>
													<!-- /.property-box-picture-target -->
												</div>
												<!-- /.property-picture-inner -->
											</div>
											<!-- /.property-picture -->

											<div class="property-box-meta">
												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>2</strong> <span>Baths</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>1</strong> <span>Beds</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>273</strong> <span>Area</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-sm-3">
													<strong>1</strong> <span>Garages</span>
												</div>
												<!-- /.col-sm-3 -->
											</div>
											<!-- /.property-box-meta -->
										</div>
										<!-- /.property-box-inner -->
									</div>
									<!-- /.property-box -->
								</div>
								<!-- /.property-item -->

								<div class="property-item property-rent col-sm-6 col-md-3">
									<div class="property-box">
										<div class="property-box-inner">
											<h3 class="property-box-title">
												<a href="/detail/">Evergreen Tr</a>
											</h3>
											<h4 class="property-box-subtitle">
												<a href="/detail/">Civic Betterment</a>
											</h4>

											<div class="property-box-label property-box-label-primary">Rent</div>
											<!-- /.property-box-label -->

											<div class="property-box-picture">
												<div class="property-box-price">$ 350 000</div>
												<!-- /.property-box-price -->
												<div class="property-box-picture-inner">
													<a href="/detail/" class="property-box-picture-target">
														<img src="/static/assets/img/tmp/properties/medium/3.jpg"
														alt="">
													</a>
													<!-- /.property-box-picture-target -->
												</div>
												<!-- /.property-picture-inner -->
											</div>
											<!-- /.property-picture -->

											<div class="property-box-meta">
												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>3</strong> <span>Baths</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>1</strong> <span>Beds</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>297</strong> <span>Area</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>3</strong> <span>Garages</span>
												</div>
												<!-- /.col-sm-3 -->
											</div>
											<!-- /.property-box-meta -->
										</div>
										<!-- /.property-box-inner -->
									</div>
									<!-- /.property-box -->
								</div>
								<!-- /.property-item -->

								<div class="property-item property-sale col-sm-6 col-md-3">
									<div class="property-box">
										<div class="property-box-inner">
											<h3 class="property-box-title">
												<a href="/detail/">Jefferson Blvd</a>
											</h3>
											<h4 class="property-box-subtitle">
												<a href="/detail/">Kingman Park</a>
											</h4>

											<div class="property-box-label">Sale</div>
											<!-- /.property-box-label -->

											<div class="property-box-picture">
												<div class="property-box-price">$ 350 000</div>
												<!-- /.property-box-price -->
												<div class="property-box-picture-inner">
													<a href="/detail/" class="property-box-picture-target">
														<img src="/static/assets/img/tmp/properties/medium/6.jpg"
														alt="">
													</a>
													<!-- /.property-box-picture-target -->
												</div>
												<!-- /.property-picture-inner -->
											</div>
											<!-- /.property-picture -->

											<div class="property-box-meta">
												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>1</strong> <span>Baths</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>2</strong> <span>Beds</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>257</strong> <span>Area</span>
												</div>
												<!-- /.col-sm-3 -->

												<div class="property-box-meta-item col-xs-3 col-sm-3">
													<strong>2</strong> <span>Garages</span>
												</div>
												<!-- /.col-sm-3 -->
											</div>
											<!-- /.property-box-meta -->
										</div>
										<!-- /.property-box-inner -->
									</div>
									<!-- /.property-box -->
								</div>
								<!-- /.property-item -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.properties-items -->

					</div>
					<!-- /.block-content-inner -->
				</div>
				<!-- /.block-content -->
				<!-- CAROUSEL -->

			</div>
			<!-- /.container -->
		</div>
		<!-- /#main-inner -->
	</div>
	<!-- /#main -->
</div>
<!-- /#main-wrapper -->
{% endblock %}
