{% extends 'base.html' %} 

{% block main-wrapper %}
<div id="main-wrapper">
	<div id="main">
		<div id="main-inner">
			<div id="map-property"></div>
			<!-- /.map-property -->

			<div class="container">
				<div class="block-content block-content-small-padding">
					<div class="block-content-inner">
						<div class="row">
							<div class="col-sm-9">
								<h2 class="property-detail-title">A. Peter Cooper Village
									&amp; Stuyvesant Town</h2>
								<h3 class="property-detail-subtitle">
									New York, Brooklyn <strong>$ 680 000</strong>
								</h3>

								<div class="property-detail-overview">
									<div class="property-detail-overview-inner clearfix">
										<div class="property-detail-overview-item col-sm-6 col-md-2">
											<strong>Price:</strong> <span>$ 680 000</span>
										</div>
										<!-- /.property-detail-overview-item -->

										<div class="property-detail-overview-item col-sm-6 col-md-2">
											<strong>Type:</strong> <span>Sale</span>
										</div>
										<!-- /.property-detail-overview-item -->

										<div class="property-detail-overview-item col-sm-6 col-md-2">
											<strong>Area:</strong> <span>250m<sup>2</sup></span>
										</div>
										<!-- /.property-detail-overview-item -->

										<div class="property-detail-overview-item col-sm-6 col-md-2">
											<strong>Baths:</strong> <span>3</span>
										</div>
										<!-- /.property-detail-overview-item -->

										<div class="property-detail-overview-item col-sm-6 col-md-2">
											<strong>Beds:</strong> <span>4</span>
										</div>
										<!-- /.property-detail-overview-item -->

										<div class="property-detail-overview-item col-sm-6 col-md-2">
											<strong>Garages:</strong> <span>2</span>
										</div>
										<!-- /.property-detail-overview-item -->
									</div>
									<!-- /.property-detail-overview-inner -->
								</div>
								<!-- /.property-detail-overview -->

								<div class="flexslider">
									<ul class="slides">

										<li data-thumb="/static/assets/img/tmp/properties/large/3.jpg">
											<img src="/static/assets/img/tmp/properties/large/3.jpg"
											alt="">
										</li>

										<li
											data-thumb="/static/assets/img/tmp/properties/large/12.jpg">
											<img src="/static/assets/img/tmp/properties/large/12.jpg"
											alt="">
										</li>

										<li data-thumb="/static/assets/img/tmp/properties/large/5.jpg">
											<img src="/static/assets/img/tmp/properties/large/5.jpg"
											alt="">
										</li>

										<li data-thumb="/static/assets/img/tmp/properties/large/6.jpg">
											<img src="/static/assets/img/tmp/properties/large/6.jpg"
											alt="">
										</li>
									</ul>
									<!-- /.slides -->
								</div>
								<!-- /.flexslider -->

								<hr>

								<h2>Description</h2>

								<p>Vestibulum feugiat tempor mattis. Maecenas venenatis at
									erat sit amet viverra. Fusce sagittis pretium est vel iaculis.
									Proin vel tincidunt nisi. Sed non vehicula purus. In auctor
									sodales metus, ac fermentum odio sagittis quis. Curabitur
									volutpat, erat nec varius dapibus, felis libero malesuada
									mauris, at vestibulum enim erat non nibh. Donec ac nibh
									dapibus, sagittis libero a, sodales enim. Quisque a viverra mi.
								</p>

								<hr>

								<h2>Amenities</h2>

								<div class="row">
									<ul class="property-detail-amenities">
										<li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i>
											Air conditioning</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i>
											Balcony</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i>
											Bedding</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i>
											Cable TV</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i>
											Cleaning after exit</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i>
											Cofee pot</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i>
											Computer</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i>
											Cot</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i>
											Dishwasher</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i>
											DVD</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i>
											Fan</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i>
											Fridge</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i>
											Grill</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i>
											Hairdryer</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i>
											Heating</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i>
											Hi-fi</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i>
											Internet</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i>
											Iron</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i>
											Juicer</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i>
											Lift</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i>
											Microwave</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i>
											Oven</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i>
											Parking</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i>
											Parquet</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i>
											Radio</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i>
											Roof terrace</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i>
											Smoking allowed</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i>
											Terrace</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i>
											Toaster</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-ban no"></i>
											Towelwes</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i>
											Use of pool</li>
										<li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i>
											Video</li>
									</ul>
								</div>
								<!-- /.row -->
							</div>

							<div class="col-sm-3">
								<div class="sidebar">
									<div class="sidebar-inner">
										<div class="widget">
											<h3 class="widget-title">Social Networks</h3>

											<ul class="social social-boxed">
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												<li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
												<li><a href="#"><i class="fa fa-youtube"></i></a></li>
											</ul>
											<!-- /.social-->
										</div>
										<!-- /.widget -->
										<div class="widget">
											<h3 class="widget-title">Enquire</h3>

											<div class="widget-content">
												<form method="post" action="?">
													<div class="form-group">
														<label>Your e-mail</label> <input type="text" value=""
															class="form-control">
													</div>
													<!-- /.form-group -->

													<div class="form-group">
														<label>Date From</label> <input type="date" value=""
															class="form-control">
													</div>
													<!-- /.form-group -->

													<div class="form-group">
														<label>Date To</label> <input type="date" value=""
															class="form-control">
													</div>
													<!-- /.form-group -->

													<div class="form-group">
														<label>Message</label>
														<textarea class="form-control"></textarea>
													</div>
													<!-- /.form-group -->

													<div class="form-group">
														<input type="text" value="Contact"
															class="btn btn-block btn-primary btn-inversed">
													</div>
													<!-- /.form-group -->
												</form>
											</div>
											<!-- /.widget-content -->
										</div>
										<!-- /.widget -->
										<div class="widget">
											<h3 class="widget-title">Recent Properties</h3>

											<div class="properties-small-list">
												<div class="property-small clearfix">
													<div class="property-small-picture col-sm-12 col-md-4">
														<div class="property-small-picture-inner">
															<a href="#" class="property-small-picture-target"> <img
																src="/static/assets/img/tmp/properties/small/1.jpg"
																alt="">
															</a>
														</div>
														<!-- /.property-small-picture -->
													</div>
													<!-- /.property-small-picture -->

													<div class="property-small-content col-sm-12 col-md-8">
														<h3 class="property-small-title">
															<a href="#">Evergreen Tr</a>
														</h3>
														<!-- /.property-small-title -->
														<div class="property-small-price">
															$ 1,800 <span class="property-small-price-suffix">/
																per month</span>
														</div>
														<!-- /.property-small-price -->
													</div>
													<!-- /.property-small-content -->
												</div>
												<!-- /.property-small -->

												<div class="property-small clearfix">
													<div class="property-small-picture col-sm-12 col-md-4">
														<div class="property-small-picture-inner">
															<a href="#" class="property-small-picture-target"> <img
																src="/static/assets/img/tmp/properties/small/3.jpg"
																alt="">
															</a>
														</div>
														<!-- /.property-small-picture -->
													</div>
													<!-- /.property-small-picture -->

													<div class="property-small-content col-sm-12 col-md-8">
														<h3 class="property-small-title">
															<a href="#">Everett Ave</a>
														</h3>
														<!-- /.property-small-title -->
														<div class="property-small-price">
															$ 1,800 <span class="property-small-price-suffix">/
																per month</span>
														</div>
														<!-- /.property-small-price -->
													</div>
													<!-- /.property-small-content -->
												</div>
												<!-- /.property-small -->

												<div class="property-small clearfix">
													<div class="property-small-picture col-sm-12 col-md-4">
														<div class="property-small-picture-inner">
															<a href="#" class="property-small-picture-target"> <img
																src="/static/assets/img/tmp/properties/small/4.jpg"
																alt="">
															</a>
														</div>
														<!-- /.property-small-picture -->
													</div>
													<!-- /.property-small-picture -->

													<div class="property-small-content col-sm-12 col-md-8">
														<h3 class="property-small-title">
															<a href="#">Jefferson Blvd</a>
														</h3>
														<!-- /.property-small-title -->
														<div class="property-small-price">
															$ 1,800 <span class="property-small-price-suffix">/
																per month</span>
														</div>
														<!-- /.property-small-price -->
													</div>
													<!-- /.property-small-content -->
												</div>
												<!-- /.property-small -->
											</div>
											<!-- /.properties-small-list -->
										</div>
										<!-- /.widget -->
										<div class="widget">
											<h3 class="widget-title">Assigned Agents</h3>

											<div class="agent-small">
												<div class="agent-small-top">
													<div class="clearfix">
														<div class="agent-small-picture col-sm-12">
															<div class="agent-small-picture-inner">
																<a href="#" class="agent-small-picture-inner "> <img
																	src="/static/assets/img/tmp/agents/medium/3.jpg" alt="">
																</a>
																<!-- /.agent-small-picture-target -->
															</div>
															<!-- /.agent-small-picture-inner -->
														</div>
														<!-- /.agent-small-picture -->
													</div>
													<!-- /.row -->
												</div>
												<!-- /.agent-small-top -->

												<div class="agent-small-bottom">
													<ul class="list-unstyled">
														<li><i class="fa fa-phone"></i> +0-123-322-123</li>
														<li><i class="fa fa-envelope-o"></i> <a href="#">hi@company.com</a></li>
													</ul>
												</div>
												<!-- /.agent-small-bottom -->
											</div>
											<!-- /.agent-small -->

											<div class="agent-small">
												<div class="agent-small-top">
													<div class="clearfix">
														<div class="agent-small-picture col-sm-12">
															<div class="agent-small-picture-inner">
																<a href="#" class="agent-small-picture-inner "> <img
																	src="/static/assets/img/tmp/agents/medium/1.jpg" alt="">
																</a>
																<!-- /.agent-small-picture-target -->
															</div>
															<!-- /.agent-small-picture-inner -->
														</div>
														<!-- /.agent-small-picture -->
													</div>
													<!-- /.row -->
												</div>
												<!-- /.agent-small-top -->

												<div class="agent-small-bottom">
													<ul class="list-unstyled">
														<li><i class="fa fa-phone"></i> +0-123-322-123</li>
														<li><i class="fa fa-envelope-o"></i> <a href="#">hi@company.com</a></li>
													</ul>
												</div>
												<!-- /.agent-small-bottom -->
											</div>
											<!-- /.agent-small -->
										</div>
										<!-- /.widget -->
									</div>
									<!-- /.sidebar-inner -->
								</div>
								<!-- /.sidebar -->
							</div>
						</div>
						<!-- /.row -->
					</div>
					<!-- /.block-content-inner -->
				</div>
				<!-- /.block-content -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /#main-inner -->
	</div>
	<!-- /#main -->
</div>
<!-- /#main-wrapper -->
{% endblock %}
