<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}Media pop test{% endblock %}</title>
	<link rel="stylesheet" href="/static/libs/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/libs/css/bootstrap-select.css">
	<link rel="stylesheet" href="/static/libs/css/alertify.core.css">
	<link rel="stylesheet" href="/static/libs/css/alertify.default.css">
	<link rel="stylesheet" href="/static/libs/css/ui.jqgrid.css">
	<link rel="stylesheet" href="/static/libs/css/jquery-ui-custom.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<style type="text/css">
	{% block style %}
	{% endblock %}
	</style>
</head>
<body>
	<div class="container-fluid main">
		<ul class="nav nav-tabs" role="tablist">
		  <li id="ul_home"><a href="/">Bootstrap table</a></li>
		  <li id="ul_jqgrid"><a href="/jqgrid">Jqgrid</a></li>
		</ul>
		{% block body %}
		{% endblock %}
	</div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/static/libs/js/bootstrap.min.js"></script>
<script src="/static/libs/js/bootstrap-select.js"></script>
<script src="/static/libs/js/alertify.js"></script>
<script src="/static/libs/js/jquery.blockUI.js"></script>
<script src="/static/libs/js/jquery.jqGrid.js"></script>
<script src="/static/libs/js/i18n/grid.locale-en.js"></script>
<script src="/static/js/utils.js"></script>
<script type="text/javascript">
var key_mapping = {{key_mapping_json|safe}};
</script>

{% block scripts %}

{% endblock %}
