<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Media pop test</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://silviomoreto.github.io/bootstrap-select/stylesheets/bootstrap-select.css">
	<link rel="stylesheet" href="static/css/main.css">
</head>
<body>
	<div class="container-fluid" style="padding-top: 40px;">
		<div class="row">
			<div class="col-lg-2">
				<select id="id_special_key" class="selectpicker">
					<option value="">Select special key</option>
					{% for k in special_keys %}
					<option value="{{k.0}}">{{k.1}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-lg-2">
				<select id="id_key" class="selectpicker">
					<option value="">Select key</option>
					{% for k in keys %}
					<option value="{{k.0}}">{{k.1}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-lg-3">
				<input type="text" id="id_message" class="form-control" placeholder="Enter your message">
			</div>
			<div class="col-lg-3">
				<button type="button" class="btn btn-default" id="id_enter_new_definition">Save</button>
			</div>
		</div>
		<div class="row">
			<table class="table">
		        <thead>
		          <tr>
		            <th>Special key</th>
		            <th>Key</th>
		            <th>Message</th>
		          </tr>
		        </thead>
		        <tbody id="id_body_table">
		        	{% for item in key_mapping %}
		          	<tr>
		          		<td>{{item.SpecialKey}}</td>
		          		<td>{{item.Key}}</td>
		          		<td>{{item.Message}}</td>
		          	<tr>
		          	{% endfor %}
		        </tbody>
	      	</table>
		</div>
	</div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="http://silviomoreto.github.io/bootstrap-select/javascripts/bootstrap-select.js"></script>
<script type="text/javascript">
var key_mapping = {{key_mapping_json|safe}};
$(document).ready(function(e) {
    $('.selectpicker').selectpicker();
});

</script>