{% extends "base.html" %}

{% block body %}
		<form class="form-inline main" role="form">
			<div class="form-group">
				<select id="id_special_key" class="selectpicker" data-style="btn-warning">
					<option value="">Select special key</option>
					{% for k in special_keys %}
					<option value="{{k.0}}">{{k.1}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<select id="id_key" class="selectpicker" data-style="btn-warning">
					<option value="">Select key</option>
					{% for k in keys %}
					<option value="{{k.0}}">{{k.1}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group has-feedback">
				<input type="text" id="id_message" class="form-control" placeholder="Enter your message"/>
			</div>
			
			
			<button type="button" class="btn btn-primary" id="id_enter_new_definition">Save</button>
			
		</form>
		<br>
		<div class="row">
			<table class="table table-hover success">
		        <thead>
		          <tr class="info">
		            <th>Special key</th>
		            <th>Key</th>
		            <th>Message</th>
		            <th></th>
		          </tr>
		        </thead>
		        <tbody id="id_body_table">
		        	{% for item in key_mapping %}
		          	<tr>
		          		<td class="special_key">{{item.SpecialKey}}</td>
		          		<td class="key_text">{{item.Key}}</td>
		          		<td class="message">{{item.Message}}</td>
		          		<td class="key">{{item.KeyCode}}</td>
		          		<td class="remove"><span class="glyphicon glyphicon-remove"></span></td>
		          	<tr>
		          	{% endfor %}
		        </tbody>
	      	</table>
		</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/home.js"></script>
<script type="text/javascript">
$(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
$('#ul_home').addClass('active');
$(document).ready(function(e) {
    $('.selectpicker').selectpicker();
    
});
</script>
{% endblock %}
